<header>

    <h1>Bikepacker Board</h1>
    <h3>Midwest Routes</h3>

    <nav>
        <ul class="navUl">
            <li class="navLi">
                <a href="/routes">See all bikepacking routes</a><br />
            </li>
            <li class="navLi">
                <a href="/routes/new">Contribute a new route</a>
            </li>
        </ul>
    </nav>
</header>