<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header') %>
    
    <h1>New Route</h1>
    <form action="/routes" method="POST">
        Name: <input type="text" name="name" /><br />
        Image Link: <input type="text" name="img" /><br />
        Description: <input type="textarea" name="description" /><br />
        Days: <input type="text" name="days" /><br />
        Distance: <input type="text" name="distance" /><br />
        Contributor: <input type="text" name="contributor" /><br />
        Additional Info: <input type="text" name="additionalInfo" /><br />
        <input type="submit" value="Contribute">
    </form>
</body>
</html>    