<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/showhead.ejs') %>
<body>
    <%- include('./partials/header') %>
     <h1><%= route.name%></h1>

     <% route.img.map(image => { %>
     <img src="<%= image%>">
     <% }) %> 
</body>
</html>