* {
    font-family: 'IM Fell Great Primer SC', serif;
}
body {
    margin:0px;
    background-color: #f2f1ee;
    
    
}

header {
    position: relative;
    background-color:#285d67;
    padding: 30px;
    margin: 0px 0px 30px 0px; 
    
}
header::before {
    content: '';
    position: absolute;
    background:url('https://st2.depositphotos.com/3474539/7893/v/600/depositphotos_78932196-stock-illustration-topographic-map-seamless-pattern-vector.jpg');
    top: 0px;
    right: 0px;
    bottom:0px;
    left: 0px;
    mix-blend-mode: multiply;
    object-fit: cover;
    opacity: 0.1;
}
    
header > h1 {
    position: relative;
    display: flex;
    justify-content: center;
    color: #ac872a;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin: 0px 360px 0px 360px;
    
}
header > h3 {
    position: relative;
    display: flex;
    justify-content: center;
    color: #6c0e0e;
    margin: 10px;
   
}
nav {
    position: absolute;
    top: 110px;
    right: 345px;
}
nav ul {
    list-style-type: none;
    
}
nav li{
    display: inline-block;
    margin-left: 30px;

}

nav a {
    text-decoration: none;
    color: black;
    text-transform:capitalize;
    position: relative;
   
}
nav a:hover{
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    padding: 8px;
    
    
}
/* .showBody {
    background-color: #f2f1ee;
    padding: 40px;
    mar
} */

#name {
    display: flex;
    justify-content: center; 
    text-align: center;
    white-space: nowrap;
    
}
.showUl {
    list-style-type: none;
    margin-right: 50px;
}
#allImages {
    height: 15rem;
    width: 15rem;
    margin: 1%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    
}
#allImages:hover {
    -webkit-transform: scale(1.2);
	transform: scale(1.2); 
    z-index: 10;
}
.showImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}






