header > h1 {
    display: flex;
    justify-content: center;
}
header > nav {
    display: flex;
    justify-content: center;
}

ul {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5%;
    text-align: center;
    list-style-type: none;
}

img {
    width: 100%;
}