body {
    margin: 0;
    color: #C9D2D9;

}
header {
    background:url('https://media.istockphoto.com/vectors/touring-bike-cyclist-finish-traveling-on-gps-route-to-the-destination-vector-id1329022813?b=1&k=20&m=1329022813&s=170667a&w=0&h=Wv_FVI9uqhUlIg3cjLI7K_GSHHvEzQGfWc_B_VDE_Q4=');
    background-size: 280px 200px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: left; 
    padding: 30px;
    margin: 20px 0px 30px 0px; 
    
}
    
header > h1 {
    display: flex;
    justify-content: center;
    color: #ac872a;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin: 0px 360px 0px 360px;
    

    
}
header > h3 {
    display: flex;
    justify-content: center;
    color: #3b647d;
    margin: 10px;
   
}
nav {
    position: absolute;
    top: 150px;
    right: 380px;
}
nav ul {
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin-left: 30px;

}

a {
    text-decoration: none;
    color:#242A1F;
}

.allRoutes {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1%;
    text-align: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px 5px 20px 5px;
    overflow: hidden;
    position: relative;
}

img {
    width: 100%;
}

div.name{
    display: inline-block;
    position: absolute;
    margin-top: 15px;
    margin-left: 5px;
    padding: 8px 20px 0px 24px;
    background: #1A1C18;
    height: 50px;
    width: auto;
    color: #B0B0B0;
    opacity: 0.8;
}
div.name:hover {
    background: #3b647d;
    color: #000000;
}
/* div.contribute {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

div.contribute:hover{
    -webkit-transform: scale(1.2);
	transform: scale(1.2);    */
/* } */
/* #bicycleImg {
    background: none;
}
#bicycleImg:hover {
    background: #1A1C18;
} */
